In [17]:
import torch 
import numpy as np 
import pandas as pd
from pytorch_tabnet.tab_model import TabNetClassifier 
import pandas_ta as ta 
from sklearn.utils.class_weight import compute_class_weight
from sklearn.metrics import f1_score 
import json
import torch.nn as nn 
import ccxt
from tqdm import tqdm 
import matplotlib.pyplot as plt 
import seaborn as sns

In [43]:
with open('BTC_USDT-4h-8.json') as f:
    d = json.load(f)
    
chart_df = pd.DataFrame(d)
chart_df = chart_df.rename(columns={0:"timestamp",
                                    1:"open",
                                    2:"high",
                                    3:"low",
                                    4:"close",
                                    5:"volume"})

In [44]:
def process(df): 
    binance = ccxt.binance() 
    dates = df['timestamp'].values 
    timestamp = [] 
    for i in range(len(dates)): 
        date_string = binance.iso8601(int(dates[i])) 
        date_string = date_string[:10] + " " + date_string[11:-5] 
        timestamp.append(date_string) 
    df['datetime'] = timestamp 
    df = df.drop(columns={'timestamp'})
    return df

In [45]:
chart_df = process(chart_df)
chart_df

,open,high,low,close,volume,datetime
0,4261.48,4349.99,4261.32,4349.99,82.088865,2017-08-17 04:00:00
1,4333.32,4485.39,4333.32,4427.30,63.619882,2017-08-17 08:00:00
2,4436.06,4485.39,4333.42,4352.34,174.562001,2017-08-17 12:00:00
3,4352.33,4354.84,4200.74,4325.23,225.109716,2017-08-17 16:00:00
4,4307.56,4369.69,4258.56,4285.08,249.769913,2017-08-17 20:00:00
...,...,...,...,...,...,...
10792,22216.90,22332.00,21934.57,22272.50,21809.064630,2022-07-23 16:00:00
10793,22272.50,22559.00,22221.54,22451.07,16460.756740,2022-07-23 20:00:00
10794,22448.58,22677.37,22288.00,22331.86,14961.070670,2022-07-24 00:00:00
10795,22331.86,22839.99,22257.15,22701.60,20882.527650,2022-07-24 04:00:00
10796,22704.09,22822.81,22480.00,22657.63,19335.213920,2022-07-24 08:00:00

In [46]:
hours = []
days = [] 
months = [] 
years = [] 
for dt in tqdm(chart_df['datetime']):
    hour = pd.to_datetime(dt).hour 
    day = pd.to_datetime(dt).day 
    month = pd.to_datetime(dt).month 
    year = pd.to_datetime(dt).year 
    hours.append(hour) 
    days.append(day) 
    months.append(month)
    years.append(year) 

chart_df['hour'] = hours
chart_df['day'] = days 
chart_df['month'] = months 
chart_df['year'] = years 

chart_df.head()

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 10797/10797 [00:03<00:00, 3324.91it/s]

,open,high,low,close,volume,datetime,hour,day,month,year
0,4261.48,4349.99,4261.32,4349.99,82.088865,2017-08-17 04:00:00,4,17,8,2017
1,4333.32,4485.39,4333.32,4427.30,63.619882,2017-08-17 08:00:00,8,17,8,2017
2,4436.06,4485.39,4333.42,4352.34,174.562001,2017-08-17 12:00:00,12,17,8,2017
3,4352.33,4354.84,4200.74,4325.23,225.109716,2017-08-17 16:00:00,16,17,8,2017
4,4307.56,4369.69,4258.56,4285.08,249.769913,2017-08-17 20:00:00,20,17,8,2017

In [47]:
targets = [] 
close = chart_df['open'].values 
high = chart_df['high'].values 
low = chart_df['low'].values 

threshold = 0.0075

for i in range(close.shape[0]-1):
    high_volatility = (high[i+1]-close[i]) / close[i] 
    low_volatility = (low[i+1]-close[i]) / close[i] 
    if high_volatility >= threshold:
        targets.append(0) # long position 
    elif low_volatility <= -threshold:
        targets.append(1) # short position 
    else:
        targets.append(2) # deemed low volatility, do not trade 

targets.append(None) 

chart_df['Targets'] = targets 

chart_df.head(3)

,open,high,low,close,volume,datetime,hour,day,month,year,Targets
0,4261.48,4349.99,4261.32,4349.99,82.088865,2017-08-17 04:00:00,4,17,8,2017,0.0
1,4333.32,4485.39,4333.32,4427.30,63.619882,2017-08-17 08:00:00,8,17,8,2017,0.0
2,4436.06,4485.39,4333.42,4352.34,174.562001,2017-08-17 12:00:00,12,17,8,2017,1.0

In [48]:
# data preprocessing using pandas ta 
chart_df.set_index(pd.DatetimeIndex(chart_df["datetime"]), inplace=True)

chart_df['bop'] = chart_df.ta.bop(lookahead=False)
chart_df['ebsw'] = chart_df.ta.ebsw(lookahead=False)
chart_df['cmf'] = chart_df.ta.cmf(lookahead=False)
chart_df['vwap'] = chart_df.ta.vwap(lookahead=False)  

chart_df['rsi/100'] = chart_df.ta.rsi(lookahead=False) / 100 
chart_df['rsx/100'] = chart_df.ta.rsx(lookahead=False) / 100 

chart_df['high/low'] = chart_df['high'] / chart_df['low'] 
chart_df['close/open'] = chart_df['close'] / chart_df['open']
chart_df['high/open'] = chart_df['high'] / chart_df['open'] 
chart_df['low/open'] = chart_df['low'] / chart_df['open']

chart_df['hwma'] = chart_df.ta.hwma(lookahead=False)
chart_df['linreg'] = chart_df.ta.linreg(lookahead=False)
chart_df['hwma/close'] = chart_df['hwma'] / chart_df['close'] 
chart_df['linreg/close'] = chart_df['linreg'] / chart_df['close']


# differencing 
for l in range(1,12): 
    for col in ['open','high','low','close','volume', 'vwap']: 
        val = chart_df[col].values 
        val_ret = [None for _ in range(l)] 
        for i in range(l, len(val)):
            if val[i-l] == 0:
                ret = 1
            else:
                ret = val[i] / val[i-l] 
            val_ret.append(ret) 
        chart_df['{}_change_{}'.format(col, l)] = val_ret

In [49]:
chart_df = chart_df.dropna() 
chart_df.head(10)

,open,high,low,close,volume,datetime,hour,day,month,year,...,low_change_10,close_change_10,volume_change_10,vwap_change_10,open_change_11,high_change_11,low_change_11,close_change_11,volume_change_11,vwap_change_11
datetime,,,,,,,,,,,,,,,,,,,,,
2017-08-23 16:00:00,4226.94,4259.58,4103.51,4117.07,174.637585,2017-08-23 16:00:00,16,23,8,2017,...,1.112373,1.065938,1.522754,1.075381,1.049637,1.046454,1.038863,1.025167,1.725297,1.025898
2017-08-23 20:00:00,4136.48,4178.65,4069.80,4114.01,152.616402,2017-08-23 20:00:00,20,23,8,2017,...,1.197000,1.083182,0.912660,1.102681,1.030000,1.040500,1.103235,1.065146,1.330740,1.074368
2017-08-24 00:00:00,4147.00,4204.55,4085.01,4113.58,123.520150,2017-08-24 00:00:00,0,24,8,2017,...,1.089313,1.063908,0.557071,1.089171,1.073518,1.086849,1.201474,1.083068,0.738662,1.100511
2017-08-24 04:00:00,4113.58,4177.64,4090.39,4153.32,123.179460,2017-08-24 04:00:00,4,24,8,2017,...,1.080168,1.076483,0.686778,1.083785,1.083068,1.065640,1.090747,1.074186,0.555535,1.089970
2017-08-24 08:00:00,4153.80,4250.94,4150.00,4202.00,171.486488,2017-08-24 08:00:00,8,24,8,2017,...,1.076951,1.054655,1.074910,1.081851,1.074310,1.065366,1.095909,1.089100,0.956111,1.090613
2017-08-24 12:00:00,4211.78,4250.90,4136.33,4222.00,146.997342,2017-08-24 12:00:00,12,24,8,2017,...,1.048757,1.045050,1.184005,1.078527,1.091635,1.035587,1.073404,1.059675,0.921407,1.084527
2017-08-24 16:00:00,4223.06,4250.77,4178.22,4216.07,111.579358,2017-08-24 16:00:00,16,24,8,2017,...,1.040940,1.028207,0.698863,1.024460,1.059872,1.046591,1.059378,1.043582,0.898727,1.080284
2017-08-24 20:00:00,4216.10,4371.68,4193.17,4316.01,110.655955,2017-08-24 20:00:00,20,24,8,2017,...,1.039117,1.059175,0.780149,1.028994,1.043589,1.059034,1.044665,1.052580,0.693080,1.028353
2017-08-25 00:00:00,4316.01,4370.00,4295.75,4312.69,141.104526,2017-08-25 00:00:00,0,25,8,2017,...,1.058849,1.017626,1.045033,1.052738,1.056670,1.061744,1.064538,1.058360,0.994818,1.060793
2017-08-25 04:00:00,4312.69,4362.00,4267.50,4329.00,101.509543,2017-08-25 04:00:00,4,25,8,2017,...,1.028152,1.031439,0.427660,1.043557,1.056610,1.028211,1.051886,1.021475,0.751789,1.052061

In [50]:
chart_df = chart_df.drop(columns={'datetime', 
                                  'open', 
                                  'high', 
                                  'low', 
                                  'close', 
                                  'volume', 
                                  'vwap'})

In [52]:
train_size = int(chart_df.shape[0] * 0.96) 
train_df = chart_df.iloc[:train_size,:] 

val_size = int(chart_df.shape[0] * 0.01) 
val_df = chart_df.iloc[train_size:train_size+val_size,:] 

test_df = chart_df.iloc[train_size+val_size:,:] 

train_df.shape, val_df.shape, test_df.shape

((10326, 84), (107, 84), (324, 84))

In [54]:
input_columns = [] 
for col in train_df.columns:
    if col != 'Targets' and col != 'year':
        input_columns.append(col)

In [55]:
X_train = train_df[input_columns].values  
Y_train = train_df['Targets'].values

X_val = val_df[input_columns].values 
Y_val = val_df['Targets'].values 

X_test = test_df[input_columns].values
Y_test = test_df['Targets'].values



X_train.shape, Y_train.shape, X_val.shape, Y_val.shape, X_test.shape, Y_test.shape

((10326, 82), (10326,), (107, 82), (107,), (324, 82), (324,))

In [56]:
class_weights = compute_class_weight(class_weight = "balanced", 
                                     classes = np.unique(Y_train), 
                                     y = Y_train)

d = {0:class_weights[0], 1:class_weights[1], 2:class_weights[2]}

print(d)

{0: 0.6485773506689279, 1: 0.9312770562770563, 2: 2.601662887377173}

In [57]:
clf = TabNetClassifier() 

clf.fit(X_train, 
       Y_train, 
       eval_set=[(X_val, Y_val)], 
       eval_metric=['logloss', 'balanced_accuracy'],
       weights = d, 
       max_epochs=150,
       patience=150)

Device used : cuda
epoch 0  | loss: 1.26732 | val_0_logloss: 1.06934 | val_0_balanced_accuracy: 0.45975 |  0:00:00s
epoch 1  | loss: 1.05147 | val_0_logloss: 1.08142 | val_0_balanced_accuracy: 0.40169 |  0:00:00s
epoch 2  | loss: 0.96674 | val_0_logloss: 1.10541 | val_0_balanced_accuracy: 0.4682  |  0:00:01s
epoch 3  | loss: 0.90493 | val_0_logloss: 0.96557 | val_0_balanced_accuracy: 0.51797 |  0:00:01s
epoch 4  | loss: 0.82152 | val_0_logloss: 0.74792 | val_0_balanced_accuracy: 0.53241 |  0:00:02s
epoch 5  | loss: 0.78944 | val_0_logloss: 0.81055 | val_0_balanced_accuracy: 0.63825 |  0:00:02s
epoch 6  | loss: 0.71534 | val_0_logloss: 0.69884 | val_0_balanced_accuracy: 0.61167 |  0:00:03s
epoch 7  | loss: 0.68072 | val_0_logloss: 0.6365  | val_0_balanced_accuracy: 0.52012 |  0:00:03s
epoch 8  | loss: 0.67113 | val_0_logloss: 0.66135 | val_0_balanced_accuracy: 0.45591 |  0:00:04s
epoch 9  | loss: 0.63796 | val_0_logloss: 0.63547 | val_0_balanced_accuracy: 0.52842 |  0:00:04s
epoch 10 | loss: 0.64728 | val_0_logloss: 0.6382  | val_0_balanced_accuracy: 0.55576 |  0:00:04s
epoch 11 | loss: 0.63507 | val_0_logloss: 0.64337 | val_0_balanced_accuracy: 0.52427 |  0:00:05s
epoch 12 | loss: 0.64175 | val_0_logloss: 0.63421 | val_0_balanced_accuracy: 0.5255  |  0:00:05s
epoch 13 | loss: 0.6329  | val_0_logloss: 0.6198  | val_0_balanced_accuracy: 0.5533  |  0:00:06s
epoch 14 | loss: 0.63942 | val_0_logloss: 0.61334 | val_0_balanced_accuracy: 0.54209 |  0:00:06s
epoch 15 | loss: 0.621   | val_0_logloss: 0.6167  | val_0_balanced_accuracy: 0.54793 |  0:00:07s
epoch 16 | loss: 0.62663 | val_0_logloss: 0.63511 | val_0_balanced_accuracy: 0.54132 |  0:00:07s
epoch 17 | loss: 0.62022 | val_0_logloss: 0.61182 | val_0_balanced_accuracy: 0.55453 |  0:00:08s
epoch 18 | loss: 0.61034 | val_0_logloss: 0.6369  | val_0_balanced_accuracy: 0.53594 |  0:00:08s
epoch 19 | loss: 0.6261  | val_0_logloss: 0.64406 | val_0_balanced_accuracy: 0.53594 |  0:00:09s
epoch 20 | loss: 0.6094  | val_0_logloss: 0.61695 | val_0_balanced_accuracy: 0.55745 |  0:00:09s
epoch 21 | loss: 0.6214  | val_0_logloss: 0.62884 | val_0_balanced_accuracy: 0.5467  |  0:00:09s
epoch 22 | loss: 0.62325 | val_0_logloss: 0.62353 | val_0_balanced_accuracy: 0.5467  |  0:00:10s
epoch 23 | loss: 0.61207 | val_0_logloss: 0.6207  | val_0_balanced_accuracy: 0.55207 |  0:00:10s
epoch 24 | loss: 0.60262 | val_0_logloss: 0.62914 | val_0_balanced_accuracy: 0.55745 |  0:00:11s
epoch 25 | loss: 0.61241 | val_0_logloss: 0.63336 | val_0_balanced_accuracy: 0.55745 |  0:00:11s
epoch 26 | loss: 0.6114  | val_0_logloss: 0.6328  | val_0_balanced_accuracy: 0.55207 |  0:00:12s
epoch 27 | loss: 0.61309 | val_0_logloss: 0.62988 | val_0_balanced_accuracy: 0.55207 |  0:00:12s
epoch 28 | loss: 0.60664 | val_0_logloss: 0.62928 | val_0_balanced_accuracy: 0.5533  |  0:00:13s
epoch 29 | loss: 0.61175 | val_0_logloss: 0.63086 | val_0_balanced_accuracy: 0.55745 |  0:00:13s
epoch 30 | loss: 0.60064 | val_0_logloss: 0.62296 | val_0_balanced_accuracy: 0.55207 |  0:00:14s
epoch 31 | loss: 0.60776 | val_0_logloss: 0.6373  | val_0_balanced_accuracy: 0.55207 |  0:00:14s
epoch 32 | loss: 0.58998 | val_0_logloss: 0.63116 | val_0_balanced_accuracy: 0.55207 |  0:00:15s
epoch 33 | loss: 0.60623 | val_0_logloss: 0.6358  | val_0_balanced_accuracy: 0.5467  |  0:00:15s
epoch 34 | loss: 0.60708 | val_0_logloss: 0.62332 | val_0_balanced_accuracy: 0.55207 |  0:00:15s
epoch 35 | loss: 0.60388 | val_0_logloss: 0.64273 | val_0_balanced_accuracy: 0.55207 |  0:00:16s
epoch 36 | loss: 0.60303 | val_0_logloss: 0.62468 | val_0_balanced_accuracy: 0.5533  |  0:00:16s
epoch 37 | loss: 0.60658 | val_0_logloss: 0.6501  | val_0_balanced_accuracy: 0.55207 |  0:00:17s
epoch 38 | loss: 0.59318 | val_0_logloss: 0.62438 | val_0_balanced_accuracy: 0.55207 |  0:00:17s
epoch 39 | loss: 0.59697 | val_0_logloss: 0.62742 | val_0_balanced_accuracy: 0.55207 |  0:00:18s
epoch 40 | loss: 0.60159 | val_0_logloss: 0.62565 | val_0_balanced_accuracy: 0.54793 |  0:00:18s
epoch 41 | loss: 0.60227 | val_0_logloss: 0.64839 | val_0_balanced_accuracy: 0.55207 |  0:00:19s
epoch 42 | loss: 0.60289 | val_0_logloss: 0.64123 | val_0_balanced_accuracy: 0.55207 |  0:00:19s
epoch 43 | loss: 0.60254 | val_0_logloss: 0.63219 | val_0_balanced_accuracy: 0.55207 |  0:00:20s
epoch 44 | loss: 0.59527 | val_0_logloss: 0.62887 | val_0_balanced_accuracy: 0.55207 |  0:00:20s
epoch 45 | loss: 0.59903 | val_0_logloss: 0.64797 | val_0_balanced_accuracy: 0.54132 |  0:00:21s
epoch 46 | loss: 0.58287 | val_0_logloss: 0.62639 | val_0_balanced_accuracy: 0.54793 |  0:00:21s
epoch 47 | loss: 0.6022  | val_0_logloss: 0.62647 | val_0_balanced_accuracy: 0.55207 |  0:00:21s
epoch 48 | loss: 0.60388 | val_0_logloss: 0.63443 | val_0_balanced_accuracy: 0.55207 |  0:00:22s
epoch 49 | loss: 0.57793 | val_0_logloss: 0.63295 | val_0_balanced_accuracy: 0.54793 |  0:00:22s
epoch 50 | loss: 0.60264 | val_0_logloss: 0.60631 | val_0_balanced_accuracy: 0.55868 |  0:00:23s
epoch 51 | loss: 0.58882 | val_0_logloss: 0.60894 | val_0_balanced_accuracy: 0.55745 |  0:00:23s
epoch 52 | loss: 0.60595 | val_0_logloss: 0.62838 | val_0_balanced_accuracy: 0.5467  |  0:00:24s
epoch 53 | loss: 0.59388 | val_0_logloss: 0.59905 | val_0_balanced_accuracy: 0.55207 |  0:00:24s
epoch 54 | loss: 0.5947  | val_0_logloss: 0.61905 | val_0_balanced_accuracy: 0.55207 |  0:00:25s
epoch 55 | loss: 0.60273 | val_0_logloss: 0.58918 | val_0_balanced_accuracy: 0.55207 |  0:00:25s
epoch 56 | loss: 0.59272 | val_0_logloss: 0.59865 | val_0_balanced_accuracy: 0.5467  |  0:00:25s
epoch 57 | loss: 0.5928  | val_0_logloss: 0.59473 | val_0_balanced_accuracy: 0.58541 |  0:00:26s
epoch 58 | loss: 0.595   | val_0_logloss: 0.59083 | val_0_balanced_accuracy: 0.55207 |  0:00:26s
epoch 59 | loss: 0.59237 | val_0_logloss: 0.60214 | val_0_balanced_accuracy: 0.5467  |  0:00:27s
epoch 60 | loss: 0.5876  | val_0_logloss: 0.59818 | val_0_balanced_accuracy: 0.56928 |  0:00:27s
epoch 61 | loss: 0.59205 | val_0_logloss: 0.56936 | val_0_balanced_accuracy: 0.55207 |  0:00:28s
epoch 62 | loss: 0.59859 | val_0_logloss: 0.58934 | val_0_balanced_accuracy: 0.54255 |  0:00:28s
epoch 63 | loss: 0.59349 | val_0_logloss: 0.59777 | val_0_balanced_accuracy: 0.56928 |  0:00:29s
epoch 64 | loss: 0.60082 | val_0_logloss: 0.60758 | val_0_balanced_accuracy: 0.5639  |  0:00:29s
epoch 65 | loss: 0.60787 | val_0_logloss: 0.57006 | val_0_balanced_accuracy: 0.57588 |  0:00:29s
epoch 66 | loss: 0.60339 | val_0_logloss: 0.58116 | val_0_balanced_accuracy: 0.58003 |  0:00:30s
epoch 67 | loss: 0.59494 | val_0_logloss: 0.58277 | val_0_balanced_accuracy: 0.56928 |  0:00:30s
epoch 68 | loss: 0.60052 | val_0_logloss: 0.57711 | val_0_balanced_accuracy: 0.56928 |  0:00:31s
epoch 69 | loss: 0.59568 | val_0_logloss: 0.59466 | val_0_balanced_accuracy: 0.70261 |  0:00:31s
epoch 70 | loss: 0.59511 | val_0_logloss: 0.57129 | val_0_balanced_accuracy: 0.63594 |  0:00:32s
epoch 71 | loss: 0.5954  | val_0_logloss: 0.55251 | val_0_balanced_accuracy: 0.56928 |  0:00:32s
epoch 72 | loss: 0.60149 | val_0_logloss: 0.55769 | val_0_balanced_accuracy: 0.70261 |  0:00:33s
epoch 73 | loss: 0.60808 | val_0_logloss: 0.57755 | val_0_balanced_accuracy: 0.69186 |  0:00:33s
epoch 74 | loss: 0.59955 | val_0_logloss: 0.57926 | val_0_balanced_accuracy: 0.6639  |  0:00:34s
epoch 75 | loss: 0.60341 | val_0_logloss: 0.55848 | val_0_balanced_accuracy: 0.66098 |  0:00:34s
epoch 76 | loss: 0.58901 | val_0_logloss: 0.59383 | val_0_balanced_accuracy: 0.69186 |  0:00:34s
epoch 77 | loss: 0.59    | val_0_logloss: 0.59497 | val_0_balanced_accuracy: 0.72581 |  0:00:35s
epoch 78 | loss: 0.59843 | val_0_logloss: 0.57839 | val_0_balanced_accuracy: 0.72519 |  0:00:35s
epoch 79 | loss: 0.60689 | val_0_logloss: 0.55519 | val_0_balanced_accuracy: 0.73303 |  0:00:36s
epoch 80 | loss: 0.60058 | val_0_logloss: 0.56801 | val_0_balanced_accuracy: 0.69724 |  0:00:36s
epoch 81 | loss: 0.58206 | val_0_logloss: 0.55389 | val_0_balanced_accuracy: 0.73594 |  0:00:37s
epoch 82 | loss: 0.58657 | val_0_logloss: 0.554   | val_0_balanced_accuracy: 0.75975 |  0:00:37s
epoch 83 | loss: 0.59197 | val_0_logloss: 0.56868 | val_0_balanced_accuracy: 0.75853 |  0:00:38s
epoch 84 | loss: 0.58564 | val_0_logloss: 0.56526 | val_0_balanced_accuracy: 0.74071 |  0:00:38s
epoch 85 | loss: 0.58544 | val_0_logloss: 0.61564 | val_0_balanced_accuracy: 0.71982 |  0:00:39s
epoch 86 | loss: 0.59821 | val_0_logloss: 0.56096 | val_0_balanced_accuracy: 0.71152 |  0:00:39s
epoch 87 | loss: 0.58801 | val_0_logloss: 0.59667 | val_0_balanced_accuracy: 0.72166 |  0:00:40s
epoch 88 | loss: 0.6011  | val_0_logloss: 0.55485 | val_0_balanced_accuracy: 0.76928 |  0:00:40s
epoch 89 | loss: 0.60037 | val_0_logloss: 0.56616 | val_0_balanced_accuracy: 0.72642 |  0:00:40s
epoch 90 | loss: 0.59012 | val_0_logloss: 0.57476 | val_0_balanced_accuracy: 0.73656 |  0:00:41s
epoch 91 | loss: 0.58885 | val_0_logloss: 0.60365 | val_0_balanced_accuracy: 0.73948 |  0:00:41s
epoch 92 | loss: 0.59729 | val_0_logloss: 0.58482 | val_0_balanced_accuracy: 0.73533 |  0:00:42s
epoch 93 | loss: 0.58396 | val_0_logloss: 0.57816 | val_0_balanced_accuracy: 0.72581 |  0:00:42s
epoch 94 | loss: 0.59244 | val_0_logloss: 0.58131 | val_0_balanced_accuracy: 0.73948 |  0:00:43s
epoch 95 | loss: 0.59492 | val_0_logloss: 0.56954 | val_0_balanced_accuracy: 0.73656 |  0:00:43s
epoch 96 | loss: 0.58382 | val_0_logloss: 0.59559 | val_0_balanced_accuracy: 0.72581 |  0:00:44s
epoch 97 | loss: 0.59153 | val_0_logloss: 0.57471 | val_0_balanced_accuracy: 0.68894 |  0:00:44s
epoch 98 | loss: 0.59641 | val_0_logloss: 0.60262 | val_0_balanced_accuracy: 0.72166 |  0:00:45s
epoch 99 | loss: 0.59329 | val_0_logloss: 0.5556  | val_0_balanced_accuracy: 0.71813 |  0:00:45s
epoch 100| loss: 0.58404 | val_0_logloss: 0.5767  | val_0_balanced_accuracy: 0.73948 |  0:00:45s
epoch 101| loss: 0.5881  | val_0_logloss: 0.578   | val_0_balanced_accuracy: 0.71751 |  0:00:46s
epoch 102| loss: 0.59057 | val_0_logloss: 0.57666 | val_0_balanced_accuracy: 0.75023 |  0:00:46s
epoch 103| loss: 0.60108 | val_0_logloss: 0.57917 | val_0_balanced_accuracy: 0.72995 |  0:00:47s
epoch 104| loss: 0.59091 | val_0_logloss: 0.57177 | val_0_balanced_accuracy: 0.70323 |  0:00:47s
epoch 105| loss: 0.59371 | val_0_logloss: 0.59739 | val_0_balanced_accuracy: 0.74839 |  0:00:48s
epoch 106| loss: 0.58307 | val_0_logloss: 0.57578 | val_0_balanced_accuracy: 0.73118 |  0:00:48s
epoch 107| loss: 0.58614 | val_0_logloss: 0.58598 | val_0_balanced_accuracy: 0.75853 |  0:00:49s
epoch 108| loss: 0.60714 | val_0_logloss: 0.57031 | val_0_balanced_accuracy: 0.74608 |  0:00:49s
epoch 109| loss: 0.5918  | val_0_logloss: 0.56361 | val_0_balanced_accuracy: 0.75438 |  0:00:50s
epoch 110| loss: 0.58939 | val_0_logloss: 0.56898 | val_0_balanced_accuracy: 0.72704 |  0:00:50s
epoch 111| loss: 0.59061 | val_0_logloss: 0.58333 | val_0_balanced_accuracy: 0.749   |  0:00:50s
epoch 112| loss: 0.58615 | val_0_logloss: 0.56886 | val_0_balanced_accuracy: 0.71336 |  0:00:51s
epoch 113| loss: 0.58752 | val_0_logloss: 0.56438 | val_0_balanced_accuracy: 0.70261 |  0:00:52s
epoch 114| loss: 0.58932 | val_0_logloss: 0.57128 | val_0_balanced_accuracy: 0.75023 |  0:00:52s
epoch 115| loss: 0.59258 | val_0_logloss: 0.55747 | val_0_balanced_accuracy: 0.75561 |  0:00:52s
epoch 116| loss: 0.58363 | val_0_logloss: 0.57224 | val_0_balanced_accuracy: 0.72104 |  0:00:53s
epoch 117| loss: 0.59107 | val_0_logloss: 0.58748 | val_0_balanced_accuracy: 0.75023 |  0:00:53s
epoch 118| loss: 0.57944 | val_0_logloss: 0.57974 | val_0_balanced_accuracy: 0.75561 |  0:00:54s
epoch 119| loss: 0.56652 | val_0_logloss: 0.5634  | val_0_balanced_accuracy: 0.75975 |  0:00:54s
epoch 120| loss: 0.59005 | val_0_logloss: 0.5556  | val_0_balanced_accuracy: 0.77051 |  0:00:55s
epoch 121| loss: 0.57395 | val_0_logloss: 0.58364 | val_0_balanced_accuracy: 0.74485 |  0:00:55s
epoch 122| loss: 0.57908 | val_0_logloss: 0.56172 | val_0_balanced_accuracy: 0.75561 |  0:00:56s
epoch 123| loss: 0.57749 | val_0_logloss: 0.58879 | val_0_balanced_accuracy: 0.68233 |  0:00:56s
epoch 124| loss: 0.58091 | val_0_logloss: 0.55553 | val_0_balanced_accuracy: 0.7467  |  0:00:56s
epoch 125| loss: 0.59017 | val_0_logloss: 0.594   | val_0_balanced_accuracy: 0.72581 |  0:00:57s
epoch 126| loss: 0.58637 | val_0_logloss: 0.56949 | val_0_balanced_accuracy: 0.73717 |  0:00:57s
epoch 127| loss: 0.56781 | val_0_logloss: 0.57899 | val_0_balanced_accuracy: 0.7318  |  0:00:58s
epoch 128| loss: 0.57629 | val_0_logloss: 0.56417 | val_0_balanced_accuracy: 0.77174 |  0:00:58s
epoch 129| loss: 0.5886  | val_0_logloss: 0.59745 | val_0_balanced_accuracy: 0.74363 |  0:00:59s
epoch 130| loss: 0.58248 | val_0_logloss: 0.56995 | val_0_balanced_accuracy: 0.75975 |  0:00:59s
epoch 131| loss: 0.57371 | val_0_logloss: 0.57067 | val_0_balanced_accuracy: 0.72642 |  0:01:00s
epoch 132| loss: 0.57136 | val_0_logloss: 0.57598 | val_0_balanced_accuracy: 0.75438 |  0:01:00s
epoch 133| loss: 0.58556 | val_0_logloss: 0.59007 | val_0_balanced_accuracy: 0.73948 |  0:01:01s
epoch 134| loss: 0.60404 | val_0_logloss: 0.55714 | val_0_balanced_accuracy: 0.64132 |  0:01:01s
epoch 135| loss: 0.58242 | val_0_logloss: 0.57405 | val_0_balanced_accuracy: 0.65438 |  0:01:01s
epoch 136| loss: 0.57495 | val_0_logloss: 0.58189 | val_0_balanced_accuracy: 0.74608 |  0:01:02s
epoch 137| loss: 0.56836 | val_0_logloss: 0.58684 | val_0_balanced_accuracy: 0.69846 |  0:01:02s
epoch 138| loss: 0.57375 | val_0_logloss: 0.58319 | val_0_balanced_accuracy: 0.72642 |  0:01:03s
epoch 139| loss: 0.5808  | val_0_logloss: 0.58597 | val_0_balanced_accuracy: 0.74071 |  0:01:03s
epoch 140| loss: 0.57738 | val_0_logloss: 0.61687 | val_0_balanced_accuracy: 0.73825 |  0:01:04s
epoch 141| loss: 0.57643 | val_0_logloss: 0.5884  | val_0_balanced_accuracy: 0.73533 |  0:01:04s
epoch 142| loss: 0.57604 | val_0_logloss: 0.6332  | val_0_balanced_accuracy: 0.73287 |  0:01:05s
epoch 143| loss: 0.57722 | val_0_logloss: 0.60411 | val_0_balanced_accuracy: 0.73948 |  0:01:05s
epoch 144| loss: 0.59138 | val_0_logloss: 0.5785  | val_0_balanced_accuracy: 0.71152 |  0:01:05s
epoch 145| loss: 0.56646 | val_0_logloss: 0.6138  | val_0_balanced_accuracy: 0.70968 |  0:01:06s
epoch 146| loss: 0.57642 | val_0_logloss: 0.60527 | val_0_balanced_accuracy: 0.72043 |  0:01:06s
epoch 147| loss: 0.5757  | val_0_logloss: 0.59644 | val_0_balanced_accuracy: 0.75853 |  0:01:07s
epoch 148| loss: 0.57594 | val_0_logloss: 0.57138 | val_0_balanced_accuracy: 0.75023 |  0:01:07s
epoch 149| loss: 0.58452 | val_0_logloss: 0.59057 | val_0_balanced_accuracy: 0.67819 |  0:01:08s
Stop training because you reached max_epochs = 150 with best_epoch = 128 and best_val_0_balanced_accuracy = 0.77174
Best weights from best epoch are automatically used!

In [58]:
cnt = 0
pred = clf.predict(X_test)
for i in range(len(pred)):
    if Y_test[i] == float(pred[i]):
        cnt += 1 
        
print("accuracy : {}".format(cnt / len(pred) * 100))

accuracy : 77.77777777777779

In [59]:
print(f1_score(Y_test, pred, average='macro'))
print(f1_score(Y_test, pred, average='micro'))
print(f1_score(Y_test, pred, average='weighted'))

0.6082829021979425
0.7777777777777778
0.784099913070445

In [60]:
clf.save_model("tabnet_clf_chart_only")

Successfully saved model at tabnet_clf_chart_only.zip

'tabnet_clf_chart_only.zip'

# Another Version

In [108]:
with open('BTC_USDT-4h-8.json') as f:
    d = json.load(f)
    
chart_df = pd.DataFrame(d)
chart_df = chart_df.rename(columns={0:"timestamp",
                                    1:"open",
                                    2:"high",
                                    3:"low",
                                    4:"close",
                                    5:"volume"})

In [109]:
chart_df = process(chart_df)


hours = []
days = [] 
months = [] 
years = [] 
for dt in tqdm(chart_df['datetime']):
    hour = pd.to_datetime(dt).hour 
    day = pd.to_datetime(dt).day 
    month = pd.to_datetime(dt).month 
    year = pd.to_datetime(dt).year 
    hours.append(hour) 
    days.append(day) 
    months.append(month)
    years.append(year) 

chart_df['hour'] = hours
chart_df['day'] = days 
chart_df['month'] = months 
chart_df['year'] = years 

chart_df.head()

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 10797/10797 [00:03<00:00, 3273.78it/s]

,open,high,low,close,volume,datetime,hour,day,month,year
0,4261.48,4349.99,4261.32,4349.99,82.088865,2017-08-17 04:00:00,4,17,8,2017
1,4333.32,4485.39,4333.32,4427.30,63.619882,2017-08-17 08:00:00,8,17,8,2017
2,4436.06,4485.39,4333.42,4352.34,174.562001,2017-08-17 12:00:00,12,17,8,2017
3,4352.33,4354.84,4200.74,4325.23,225.109716,2017-08-17 16:00:00,16,17,8,2017
4,4307.56,4369.69,4258.56,4285.08,249.769913,2017-08-17 20:00:00,20,17,8,2017

In [110]:
targets = [] 
close = chart_df['open'].values 
high = chart_df['high'].values 
low = chart_df['low'].values 

threshold = 0.0075

for i in range(close.shape[0]-1):
    high_volatility = (high[i+1]-close[i]) / close[i] 
    low_volatility = (low[i+1]-close[i]) / close[i] 
    if high_volatility >= threshold:
        targets.append(0) # long position 
    elif low_volatility <= -threshold:
        targets.append(1) # short position 
    else:
        targets.append(2) # deemed low volatility, do not trade 

targets.append(None) 

chart_df['Targets'] = targets 

chart_df.head(3)

,open,high,low,close,volume,datetime,hour,day,month,year,Targets
0,4261.48,4349.99,4261.32,4349.99,82.088865,2017-08-17 04:00:00,4,17,8,2017,0.0
1,4333.32,4485.39,4333.32,4427.30,63.619882,2017-08-17 08:00:00,8,17,8,2017,0.0
2,4436.06,4485.39,4333.42,4352.34,174.562001,2017-08-17 12:00:00,12,17,8,2017,1.0

In [111]:
# data preprocessing using pandas ta 
chart_df.set_index(pd.DatetimeIndex(chart_df["datetime"]), inplace=True)

chart_df['bop'] = chart_df.ta.bop(lookahead=False)
chart_df['ebsw'] = chart_df.ta.ebsw(lookahead=False)
chart_df['cmf'] = chart_df.ta.cmf(lookahead=False)
chart_df['vwap'] = chart_df.ta.vwap(lookahead=False)  

chart_df['rsi/100'] = chart_df.ta.rsi(lookahead=False) / 100 
chart_df['rsx/100'] = chart_df.ta.rsx(lookahead=False) / 100 

chart_df['high/low'] = chart_df['high'] / chart_df['low'] 
chart_df['close/open'] = chart_df['close'] / chart_df['open']
chart_df['high/open'] = chart_df['high'] / chart_df['open'] 
chart_df['low/open'] = chart_df['low'] / chart_df['open']

chart_df['hwma'] = chart_df.ta.hwma(lookahead=False)
chart_df['linreg'] = chart_df.ta.linreg(lookahead=False)
chart_df['hwma/close'] = chart_df['hwma'] / chart_df['close'] 
chart_df['linreg/close'] = chart_df['linreg'] / chart_df['close']

chart_df['ema_10'] = chart_df.ta.ema(length=10, lookahead=False) 
chart_df['ema_60'] = chart_df.ta.ema(length=60, lookahead=False) 
chart_df['ema_120'] = chart_df.ta.ema(length=120, lookahead=False) 


# differencing 
for l in range(1,12): 
    for col in ['open','high','low','close','volume', 'vwap', 'ema_10', 'ema_60', 'ema_120']: 
        val = chart_df[col].values 
        val_ret = [None for _ in range(l)] 
        for i in range(l, len(val)):
            if val[i-l] == 0:
                ret = 1
            else:
                ret = val[i] / val[i-l] 
            val_ret.append(ret) 
        chart_df['{}_change_{}'.format(col, l)] = val_ret

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:38: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`

In [112]:
chart_df = chart_df.dropna() 

chart_df = chart_df.drop(columns={'datetime', 
                                  'open', 
                                  'high', 
                                  'low', 
                                  'close', 
                                  'volume', 
                                  'vwap',
                                  'ema_10',
                                  'ema_60',
                                  'ema_120'})

In [113]:
train_size = int(chart_df.shape[0] * 0.96) 
train_df = chart_df.iloc[:train_size,:] 

val_size = int(chart_df.shape[0] * 0.01) 
val_df = chart_df.iloc[train_size:train_size+val_size,:] 

test_df = chart_df.iloc[train_size+val_size:,:] 

train_df.shape, val_df.shape, test_df.shape

((10239, 117), (106, 117), (321, 117))

In [114]:
input_columns = [] 
for col in train_df.columns:
    if col != 'Targets' and col != 'year':
        input_columns.append(col)         


X_train = train_df[input_columns].values  
Y_train = train_df['Targets'].values

X_val = val_df[input_columns].values 
Y_val = val_df['Targets'].values 

X_test = test_df[input_columns].values
Y_test = test_df['Targets'].values



X_train.shape, Y_train.shape, X_val.shape, Y_val.shape, X_test.shape, Y_test.shape

((10239, 115), (10239,), (106, 115), (106,), (321, 115), (321,))

In [115]:
class_weights = compute_class_weight(class_weight = "balanced", 
                                     classes = np.unique(Y_train), 
                                     y = Y_train)

d = {0:class_weights[0], 1:class_weights[1], 2:class_weights[2]}

print(d)

{0: 0.6513358778625954, 1: 0.9284548422198041, 2: 2.579743008314437}

In [116]:
clf = TabNetClassifier() 

clf.fit(X_train, 
       Y_train, 
       eval_set=[(X_val, Y_val)], 
       eval_metric=['logloss', 'balanced_accuracy'],
       weights = d, 
       max_epochs=150,
       patience=150)

Device used : cuda
epoch 0  | loss: 1.12747 | val_0_logloss: 1.09501 | val_0_balanced_accuracy: 0.2671  |  0:00:00s
epoch 1  | loss: 1.02403 | val_0_logloss: 1.0788  | val_0_balanced_accuracy: 0.3847  |  0:00:00s
epoch 2  | loss: 0.925   | val_0_logloss: 1.13721 | val_0_balanced_accuracy: 0.47619 |  0:00:01s
epoch 3  | loss: 0.81803 | val_0_logloss: 1.02919 | val_0_balanced_accuracy: 0.53362 |  0:00:01s
epoch 4  | loss: 0.76772 | val_0_logloss: 0.77394 | val_0_balanced_accuracy: 0.57201 |  0:00:02s
epoch 5  | loss: 0.73423 | val_0_logloss: 0.78094 | val_0_balanced_accuracy: 0.51544 |  0:00:02s
epoch 6  | loss: 0.70015 | val_0_logloss: 1.11125 | val_0_balanced_accuracy: 0.35354 |  0:00:03s
epoch 7  | loss: 0.66899 | val_0_logloss: 1.3733  | val_0_balanced_accuracy: 0.33333 |  0:00:03s
epoch 8  | loss: 0.6591  | val_0_logloss: 1.12689 | val_0_balanced_accuracy: 0.33333 |  0:00:04s
epoch 9  | loss: 0.64171 | val_0_logloss: 1.07512 | val_0_balanced_accuracy: 0.33333 |  0:00:04s
epoch 10 | loss: 0.64409 | val_0_logloss: 1.13575 | val_0_balanced_accuracy: 0.33333 |  0:00:04s
epoch 11 | loss: 0.64438 | val_0_logloss: 1.13617 | val_0_balanced_accuracy: 0.33333 |  0:00:05s
epoch 12 | loss: 0.62818 | val_0_logloss: 0.96335 | val_0_balanced_accuracy: 0.33333 |  0:00:05s
epoch 13 | loss: 0.62122 | val_0_logloss: 0.97775 | val_0_balanced_accuracy: 0.33333 |  0:00:06s
epoch 14 | loss: 0.62026 | val_0_logloss: 0.9768  | val_0_balanced_accuracy: 0.32275 |  0:00:06s
epoch 15 | loss: 0.61681 | val_0_logloss: 0.96794 | val_0_balanced_accuracy: 0.35608 |  0:00:07s
epoch 16 | loss: 0.61767 | val_0_logloss: 1.03018 | val_0_balanced_accuracy: 0.35608 |  0:00:07s
epoch 17 | loss: 0.60507 | val_0_logloss: 1.00736 | val_0_balanced_accuracy: 0.32804 |  0:00:07s
epoch 18 | loss: 0.63902 | val_0_logloss: 1.15793 | val_0_balanced_accuracy: 0.40106 |  0:00:08s
epoch 19 | loss: 0.62392 | val_0_logloss: 1.11226 | val_0_balanced_accuracy: 0.34868 |  0:00:08s
epoch 20 | loss: 0.6275  | val_0_logloss: 1.05924 | val_0_balanced_accuracy: 0.36936 |  0:00:09s
epoch 21 | loss: 0.62081 | val_0_logloss: 1.35801 | val_0_balanced_accuracy: 0.35979 |  0:00:09s
epoch 22 | loss: 0.6121  | val_0_logloss: 1.39373 | val_0_balanced_accuracy: 0.33862 |  0:00:10s
epoch 23 | loss: 0.60241 | val_0_logloss: 1.18422 | val_0_balanced_accuracy: 0.38624 |  0:00:10s
epoch 24 | loss: 0.60682 | val_0_logloss: 1.36935 | val_0_balanced_accuracy: 0.35979 |  0:00:11s
epoch 25 | loss: 0.58791 | val_0_logloss: 1.46937 | val_0_balanced_accuracy: 0.33862 |  0:00:11s
epoch 26 | loss: 0.59944 | val_0_logloss: 1.39069 | val_0_balanced_accuracy: 0.34921 |  0:00:11s
epoch 27 | loss: 0.59455 | val_0_logloss: 1.25572 | val_0_balanced_accuracy: 0.3545  |  0:00:12s
epoch 28 | loss: 0.59274 | val_0_logloss: 1.37066 | val_0_balanced_accuracy: 0.34873 |  0:00:12s
epoch 29 | loss: 0.58763 | val_0_logloss: 1.36592 | val_0_balanced_accuracy: 0.36508 |  0:00:13s
epoch 30 | loss: 0.60321 | val_0_logloss: 1.25272 | val_0_balanced_accuracy: 0.37566 |  0:00:13s
epoch 31 | loss: 0.59975 | val_0_logloss: 1.38118 | val_0_balanced_accuracy: 0.39923 |  0:00:14s
epoch 32 | loss: 0.60191 | val_0_logloss: 1.19377 | val_0_balanced_accuracy: 0.38624 |  0:00:14s
epoch 33 | loss: 0.58506 | val_0_logloss: 1.34215 | val_0_balanced_accuracy: 0.40981 |  0:00:14s
epoch 34 | loss: 0.59513 | val_0_logloss: 1.29667 | val_0_balanced_accuracy: 0.40981 |  0:00:15s
epoch 35 | loss: 0.59672 | val_0_logloss: 1.37782 | val_0_balanced_accuracy: 0.35979 |  0:00:15s
epoch 36 | loss: 0.58107 | val_0_logloss: 1.33764 | val_0_balanced_accuracy: 0.39009 |  0:00:16s
epoch 37 | loss: 0.59387 | val_0_logloss: 1.44804 | val_0_balanced_accuracy: 0.37951 |  0:00:16s
epoch 38 | loss: 0.58909 | val_0_logloss: 1.31245 | val_0_balanced_accuracy: 0.4406  |  0:00:17s
epoch 39 | loss: 0.59246 | val_0_logloss: 1.26118 | val_0_balanced_accuracy: 0.44589 |  0:00:17s
epoch 40 | loss: 0.59886 | val_0_logloss: 1.23588 | val_0_balanced_accuracy: 0.43146 |  0:00:18s
epoch 41 | loss: 0.59306 | val_0_logloss: 1.38645 | val_0_balanced_accuracy: 0.42472 |  0:00:18s
epoch 42 | loss: 0.59093 | val_0_logloss: 1.4314  | val_0_balanced_accuracy: 0.39971 |  0:00:18s
epoch 43 | loss: 0.59748 | val_0_logloss: 1.27053 | val_0_balanced_accuracy: 0.41558 |  0:00:19s
epoch 44 | loss: 0.59333 | val_0_logloss: 1.20767 | val_0_balanced_accuracy: 0.43098 |  0:00:19s
epoch 45 | loss: 0.59436 | val_0_logloss: 1.39041 | val_0_balanced_accuracy: 0.4406  |  0:00:20s
epoch 46 | loss: 0.59245 | val_0_logloss: 1.22886 | val_0_balanced_accuracy: 0.49158 |  0:00:20s
epoch 47 | loss: 0.60953 | val_0_logloss: 1.1131  | val_0_balanced_accuracy: 0.49432 |  0:00:21s
epoch 48 | loss: 0.59894 | val_0_logloss: 1.10654 | val_0_balanced_accuracy: 0.49351 |  0:00:21s
epoch 49 | loss: 0.58267 | val_0_logloss: 1.29732 | val_0_balanced_accuracy: 0.49639 |  0:00:22s
epoch 50 | loss: 0.59968 | val_0_logloss: 1.00776 | val_0_balanced_accuracy: 0.55507 |  0:00:22s
epoch 51 | loss: 0.58604 | val_0_logloss: 0.96148 | val_0_balanced_accuracy: 0.56359 |  0:00:23s
epoch 52 | loss: 0.58815 | val_0_logloss: 1.15781 | val_0_balanced_accuracy: 0.48148 |  0:00:23s
epoch 53 | loss: 0.56987 | val_0_logloss: 1.07961 | val_0_balanced_accuracy: 0.52381 |  0:00:23s
epoch 54 | loss: 0.57522 | val_0_logloss: 1.10115 | val_0_balanced_accuracy: 0.53295 |  0:00:24s
epoch 55 | loss: 0.58199 | val_0_logloss: 1.01044 | val_0_balanced_accuracy: 0.53713 |  0:00:24s
epoch 56 | loss: 0.57163 | val_0_logloss: 1.06515 | val_0_balanced_accuracy: 0.53824 |  0:00:25s
epoch 57 | loss: 0.58598 | val_0_logloss: 1.12128 | val_0_balanced_accuracy: 0.53473 |  0:00:25s
epoch 58 | loss: 0.58271 | val_0_logloss: 0.81381 | val_0_balanced_accuracy: 0.6569  |  0:00:26s
epoch 59 | loss: 0.58042 | val_0_logloss: 0.93369 | val_0_balanced_accuracy: 0.5987  |  0:00:26s
epoch 60 | loss: 0.57646 | val_0_logloss: 0.90611 | val_0_balanced_accuracy: 0.59389 |  0:00:26s
epoch 61 | loss: 0.58402 | val_0_logloss: 0.86646 | val_0_balanced_accuracy: 0.62997 |  0:00:27s
epoch 62 | loss: 0.57946 | val_0_logloss: 0.91074 | val_0_balanced_accuracy: 0.57802 |  0:00:27s
epoch 63 | loss: 0.58604 | val_0_logloss: 0.80786 | val_0_balanced_accuracy: 0.65113 |  0:00:28s
epoch 64 | loss: 0.57676 | val_0_logloss: 0.99837 | val_0_balanced_accuracy: 0.60255 |  0:00:28s
epoch 65 | loss: 0.58174 | val_0_logloss: 0.77048 | val_0_balanced_accuracy: 0.667   |  0:00:29s
epoch 66 | loss: 0.57409 | val_0_logloss: 0.80829 | val_0_balanced_accuracy: 0.69153 |  0:00:29s
epoch 67 | loss: 0.56178 | val_0_logloss: 0.75603 | val_0_balanced_accuracy: 0.63593 |  0:00:30s
epoch 68 | loss: 0.56422 | val_0_logloss: 0.79158 | val_0_balanced_accuracy: 0.73146 |  0:00:30s
epoch 69 | loss: 0.58295 | val_0_logloss: 0.7922  | val_0_balanced_accuracy: 0.67436 |  0:00:30s
epoch 70 | loss: 0.58159 | val_0_logloss: 0.8176  | val_0_balanced_accuracy: 0.73146 |  0:00:31s
epoch 71 | loss: 0.56887 | val_0_logloss: 0.71267 | val_0_balanced_accuracy: 0.65964 |  0:00:31s
epoch 72 | loss: 0.56543 | val_0_logloss: 0.76067 | val_0_balanced_accuracy: 0.70693 |  0:00:32s
epoch 73 | loss: 0.57495 | val_0_logloss: 0.83843 | val_0_balanced_accuracy: 0.67085 |  0:00:32s
epoch 74 | loss: 0.57011 | val_0_logloss: 0.73672 | val_0_balanced_accuracy: 0.73242 |  0:00:33s
epoch 75 | loss: 0.55814 | val_0_logloss: 0.72693 | val_0_balanced_accuracy: 0.71799 |  0:00:33s
epoch 76 | loss: 0.56739 | val_0_logloss: 0.7636  | val_0_balanced_accuracy: 0.68721 |  0:00:33s
epoch 77 | loss: 0.5744  | val_0_logloss: 0.71802 | val_0_balanced_accuracy: 0.72809 |  0:00:34s
epoch 78 | loss: 0.56615 | val_0_logloss: 0.66451 | val_0_balanced_accuracy: 0.70005 |  0:00:34s
epoch 79 | loss: 0.56795 | val_0_logloss: 0.65865 | val_0_balanced_accuracy: 0.70231 |  0:00:35s
epoch 80 | loss: 0.57619 | val_0_logloss: 0.69165 | val_0_balanced_accuracy: 0.74877 |  0:00:35s
epoch 81 | loss: 0.57725 | val_0_logloss: 0.70148 | val_0_balanced_accuracy: 0.71544 |  0:00:36s
epoch 82 | loss: 0.59281 | val_0_logloss: 0.63012 | val_0_balanced_accuracy: 0.7177  |  0:00:36s
epoch 83 | loss: 0.57465 | val_0_logloss: 0.65613 | val_0_balanced_accuracy: 0.74877 |  0:00:37s
epoch 84 | loss: 0.57106 | val_0_logloss: 0.65876 | val_0_balanced_accuracy: 0.71592 |  0:00:37s
epoch 85 | loss: 0.58407 | val_0_logloss: 0.63024 | val_0_balanced_accuracy: 0.72828 |  0:00:37s
epoch 86 | loss: 0.57112 | val_0_logloss: 0.62997 | val_0_balanced_accuracy: 0.70279 |  0:00:38s
epoch 87 | loss: 0.58384 | val_0_logloss: 0.6349  | val_0_balanced_accuracy: 0.72602 |  0:00:38s
epoch 88 | loss: 0.57803 | val_0_logloss: 0.69129 | val_0_balanced_accuracy: 0.74781 |  0:00:39s
epoch 89 | loss: 0.57228 | val_0_logloss: 0.62305 | val_0_balanced_accuracy: 0.7076  |  0:00:39s
epoch 90 | loss: 0.57675 | val_0_logloss: 0.65986 | val_0_balanced_accuracy: 0.70231 |  0:00:40s
epoch 91 | loss: 0.56428 | val_0_logloss: 0.62473 | val_0_balanced_accuracy: 0.7177  |  0:00:40s
epoch 92 | loss: 0.57816 | val_0_logloss: 0.5902  | val_0_balanced_accuracy: 0.74848 |  0:00:41s
epoch 93 | loss: 0.57778 | val_0_logloss: 0.61375 | val_0_balanced_accuracy: 0.7177  |  0:00:41s
epoch 94 | loss: 0.56894 | val_0_logloss: 0.6078  | val_0_balanced_accuracy: 0.7076  |  0:00:41s
epoch 95 | loss: 0.56655 | val_0_logloss: 0.66346 | val_0_balanced_accuracy: 0.71015 |  0:00:42s
epoch 96 | loss: 0.55413 | val_0_logloss: 0.61496 | val_0_balanced_accuracy: 0.74141 |  0:00:42s
epoch 97 | loss: 0.57168 | val_0_logloss: 0.64568 | val_0_balanced_accuracy: 0.69221 |  0:00:43s
epoch 98 | loss: 0.57497 | val_0_logloss: 0.60995 | val_0_balanced_accuracy: 0.74141 |  0:00:43s
epoch 99 | loss: 0.5719  | val_0_logloss: 0.60301 | val_0_balanced_accuracy: 0.74319 |  0:00:44s
epoch 100| loss: 0.57251 | val_0_logloss: 0.64338 | val_0_balanced_accuracy: 0.6874  |  0:00:44s
epoch 101| loss: 0.58078 | val_0_logloss: 0.63686 | val_0_balanced_accuracy: 0.72602 |  0:00:45s
epoch 102| loss: 0.56035 | val_0_logloss: 0.65544 | val_0_balanced_accuracy: 0.6773  |  0:00:45s
epoch 103| loss: 0.57402 | val_0_logloss: 0.66068 | val_0_balanced_accuracy: 0.74093 |  0:00:45s
epoch 104| loss: 0.57255 | val_0_logloss: 0.5948  | val_0_balanced_accuracy: 0.74319 |  0:00:46s
epoch 105| loss: 0.57195 | val_0_logloss: 0.58383 | val_0_balanced_accuracy: 0.73309 |  0:00:46s
epoch 106| loss: 0.57211 | val_0_logloss: 0.63124 | val_0_balanced_accuracy: 0.72251 |  0:00:47s
epoch 107| loss: 0.58038 | val_0_logloss: 0.61623 | val_0_balanced_accuracy: 0.72299 |  0:00:47s
epoch 108| loss: 0.56314 | val_0_logloss: 0.61949 | val_0_balanced_accuracy: 0.7278  |  0:00:48s
epoch 109| loss: 0.57173 | val_0_logloss: 0.60052 | val_0_balanced_accuracy: 0.73838 |  0:00:48s
epoch 110| loss: 0.55984 | val_0_logloss: 0.59176 | val_0_balanced_accuracy: 0.74367 |  0:00:48s
epoch 111| loss: 0.56783 | val_0_logloss: 0.60277 | val_0_balanced_accuracy: 0.75378 |  0:00:49s
epoch 112| loss: 0.57094 | val_0_logloss: 0.63447 | val_0_balanced_accuracy: 0.72299 |  0:00:49s
epoch 113| loss: 0.57902 | val_0_logloss: 0.5678  | val_0_balanced_accuracy: 0.75378 |  0:00:50s
epoch 114| loss: 0.55848 | val_0_logloss: 0.59857 | val_0_balanced_accuracy: 0.73838 |  0:00:50s
epoch 115| loss: 0.56641 | val_0_logloss: 0.62557 | val_0_balanced_accuracy: 0.71818 |  0:00:51s
epoch 116| loss: 0.56243 | val_0_logloss: 0.56515 | val_0_balanced_accuracy: 0.75378 |  0:00:51s
epoch 117| loss: 0.56437 | val_0_logloss: 0.60219 | val_0_balanced_accuracy: 0.7379  |  0:00:52s
epoch 118| loss: 0.55015 | val_0_logloss: 0.5852  | val_0_balanced_accuracy: 0.73357 |  0:00:52s
epoch 119| loss: 0.57297 | val_0_logloss: 0.61696 | val_0_balanced_accuracy: 0.7278  |  0:00:52s
epoch 120| loss: 0.55613 | val_0_logloss: 0.60607 | val_0_balanced_accuracy: 0.71818 |  0:00:53s
epoch 121| loss: 0.57453 | val_0_logloss: 0.65309 | val_0_balanced_accuracy: 0.7177  |  0:00:53s
epoch 122| loss: 0.54436 | val_0_logloss: 0.60189 | val_0_balanced_accuracy: 0.73309 |  0:00:54s
epoch 123| loss: 0.56384 | val_0_logloss: 0.61303 | val_0_balanced_accuracy: 0.73309 |  0:00:54s
epoch 124| loss: 0.56588 | val_0_logloss: 0.55174 | val_0_balanced_accuracy: 0.75955 |  0:00:55s
epoch 125| loss: 0.55407 | val_0_logloss: 0.59305 | val_0_balanced_accuracy: 0.73838 |  0:00:55s
epoch 126| loss: 0.56042 | val_0_logloss: 0.64596 | val_0_balanced_accuracy: 0.7278  |  0:00:55s
epoch 127| loss: 0.57122 | val_0_logloss: 0.59615 | val_0_balanced_accuracy: 0.74848 |  0:00:56s
epoch 128| loss: 0.55519 | val_0_logloss: 0.57596 | val_0_balanced_accuracy: 0.73838 |  0:00:56s
epoch 129| loss: 0.55153 | val_0_logloss: 0.62928 | val_0_balanced_accuracy: 0.7379  |  0:00:57s
epoch 130| loss: 0.55832 | val_0_logloss: 0.54343 | val_0_balanced_accuracy: 0.70827 |  0:00:57s
epoch 131| loss: 0.55225 | val_0_logloss: 0.58694 | val_0_balanced_accuracy: 0.75378 |  0:00:58s
epoch 132| loss: 0.56062 | val_0_logloss: 0.61199 | val_0_balanced_accuracy: 0.74367 |  0:00:58s
epoch 133| loss: 0.55708 | val_0_logloss: 0.57226 | val_0_balanced_accuracy: 0.74945 |  0:00:59s
epoch 134| loss: 0.54539 | val_0_logloss: 0.5718  | val_0_balanced_accuracy: 0.75426 |  0:00:59s
epoch 135| loss: 0.53808 | val_0_logloss: 0.57792 | val_0_balanced_accuracy: 0.73838 |  0:00:59s
epoch 136| loss: 0.56092 | val_0_logloss: 0.59082 | val_0_balanced_accuracy: 0.74848 |  0:01:00s
epoch 137| loss: 0.53924 | val_0_logloss: 0.57782 | val_0_balanced_accuracy: 0.72828 |  0:01:00s
epoch 138| loss: 0.54998 | val_0_logloss: 0.57493 | val_0_balanced_accuracy: 0.75378 |  0:01:01s
epoch 139| loss: 0.5532  | val_0_logloss: 0.58896 | val_0_balanced_accuracy: 0.74367 |  0:01:01s
epoch 140| loss: 0.55458 | val_0_logloss: 0.59476 | val_0_balanced_accuracy: 0.73357 |  0:01:02s
epoch 141| loss: 0.56186 | val_0_logloss: 0.59856 | val_0_balanced_accuracy: 0.76162 |  0:01:02s
epoch 142| loss: 0.57532 | val_0_logloss: 0.63831 | val_0_balanced_accuracy: 0.72251 |  0:01:03s
epoch 143| loss: 0.57845 | val_0_logloss: 0.5584  | val_0_balanced_accuracy: 0.7113  |  0:01:03s
epoch 144| loss: 0.57305 | val_0_logloss: 0.59552 | val_0_balanced_accuracy: 0.70505 |  0:01:03s
epoch 145| loss: 0.59093 | val_0_logloss: 0.67519 | val_0_balanced_accuracy: 0.7177  |  0:01:04s
epoch 146| loss: 0.60904 | val_0_logloss: 0.69008 | val_0_balanced_accuracy: 0.70005 |  0:01:04s
epoch 147| loss: 0.5783  | val_0_logloss: 0.6465  | val_0_balanced_accuracy: 0.69447 |  0:01:05s
epoch 148| loss: 0.56396 | val_0_logloss: 0.65958 | val_0_balanced_accuracy: 0.72299 |  0:01:05s
epoch 149| loss: 0.5521  | val_0_logloss: 0.62108 | val_0_balanced_accuracy: 0.69798 |  0:01:06s
Stop training because you reached max_epochs = 150 with best_epoch = 141 and best_val_0_balanced_accuracy = 0.76162
Best weights from best epoch are automatically used!

In [117]:
cnt = 0
pred = clf.predict(X_test)
for i in range(len(pred)):
    if Y_test[i] == float(pred[i]):
        cnt += 1 
        
print("accuracy : {}".format(cnt / len(pred) * 100))

accuracy : 77.25856697819314

In [118]:
print(f1_score(Y_test, pred, average='macro'))
print(f1_score(Y_test, pred, average='micro'))
print(f1_score(Y_test, pred, average='weighted'))

0.6495516781776324
0.7725856697819314
0.7890243253373738

In [119]:
clf.save_model("tabnet_clf_chart_only_v2")

Successfully saved model at tabnet_clf_chart_only_v2.zip

'tabnet_clf_chart_only_v2.zip'